@using ChallengeBoard.Web.Models
@model List<ChallengeBoard.Web.Controllers.Count>
<h2>RÄKNA</h2>


@{
    var point = new List<int>();
    
    foreach (var count in Model)
    {

        point.Add(@count.Points);
    }

    var firstlevel = Model.Count(x => x.Points > 100 && x.Points < 400);
    var firstlevels = Model.Where(x => x.Points > 100 && x.Points < 400).ToList();
    var secondlevel = Model.Count(x => x.Points > 400 && x.Points < 800);
    var secondlevels = Model.Where(x => x.Points > 400 && x.Points < 800).ToList();
    var thirdlevel = point.Count(x => x > 800 && x < 1300);
    var thirdlevels = Model.Where(x => x.Points > 800 && x.Points < 1300).ToList();
    var fourthlevel = Model.Count(x => x.Points > 1300 && x.Points < 2000);
    var fourthlevels = Model.Where(x => x.Points > 1300 && x.Points < 2000).ToList();
    var fifthlevel = Model.Count(x => x.Points > 2000);
    var fifthlevels = Model.Where(x => x.Points > 2000).ToList();
}
<div>
    <span>100: @firstlevel st</span><br/>
    @foreach (var fl in firstlevels)
    {
        <span>@fl.Name</span><br/>
    }
    <br/><span>400: @secondlevel st</span><br />
    @foreach (var fl in secondlevels)
    {
        <span>@fl.Name</span><br />
    }
    <br /><span>800: @thirdlevel st</span><br />
    @foreach (var fl in thirdlevels)
    {
        <span>@fl.Name</span><br />
    }
    <br /><span>1300: @fourthlevel st</span><br />
    @foreach (var fl in fourthlevels)
    {
        <span>@fl.Name</span><br />
    }
    <br /><span>2000: @fifthlevel st</span><br />
    @foreach (var fl in fifthlevels)
    {
        <span>@fl.Name</span><br />
    }
</div>
