@using ChallengeBoard.Web.Extensions
@using ChallengeBoard.Web.Models
@model ChallengeBoard.Web.ViewModels.BoardViewModel

<header class="header">
    <div class="header__user">
        @Model.CurrentUser.Name
        @if (Model.IsAuthenticated) {
            <span class="header__user__signedin"></span>
        }

    </div>
    <strong class="header__score" id="intro-score">@Model.TotalPoints</strong>
    <div class="header__actions">
        <button class="header__actions__icon" id="leaderboard-toggle">
            <span class="icon icon-star"></span>
        </button>
        <button class="header__actions__icon" id="notifications-toggle">
            <span class="icon icon-bell"></span>
        </button>      
    </div>    
</header>
<div class="cards" id="Cards">        
    @foreach (var challenge in Model.Challenges) {
        <div class="item card@(challenge.IsComplete(Model.CurrentUser) ? " card--complete" : string.Empty)@(challenge.Single ? " card--single" : string.Empty)" role="button" data-id="@challenge.Id" data-points="@challenge.Points">
            <div class="card-background"></div>
            <div class="card-body">
                <div class="card-icon">
                    <div class="card-icon-inner">
                        <span class="icon icon-@challenge.Category.ToString().ToLower()" aria-hidden="true"></span>
                        <span class="icon icon-check" aria-hidden="true"></span>                        
                    </div>
                    <span class="card-icon-ring"></span>
                </div>
                <strong class="card-heading">@challenge.Text</strong>
                @if (!challenge.Single) {
                    <strong class="card-count"><span class="card-count--subtr">-</span> <span class="card-count--number">@challenge.NumberOfCompletions(Model.CurrentUser)</span> <span class="card-count--add">+</span></strong>
                }
                <footer class="card-meta">@challenge.Points poäng</footer>
            </div>
        </div>
    }
</div>
<div class="notifications hidden" id="history-feed">
    <ul>
        @if (Model.History.Any()) {
            foreach (var feed in Model.History) {
                <li>
                    <strong class="notifications__time">@feed.TimeStamp</strong>
                    <p class="notifications__text">@feed.Challenge</p>
                </li>
            }
        }
    </ul>
</div>
<div id="user-hide">@Model.CurrentUser.UserName</div>