@model ChallengeBoard.Web.Models.User

<div class="dialog">
    <div class="dialog__inner">
        <strong class="dialog__lead">Ange ditt namn och önskat lösenord</strong>
        <form class="dialog__form form" action="/board/newuser" method="POST">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.UserName)
            <div class="form__item">
                @Html.TextBoxFor(m => m.Name, new { @class = "form__item__textbox", autocomplete = "off", autofocus = "autofocus" })
                <label class="form__item__textbox-placeholder"><span>För och efternamn</span></label>
            </div>
            <div class="form__item">
                @Html.PasswordFor(m => m.Password, new { @class = "form__item__textbox", autocomplete = "off" })
                <label class="form__item__textbox-placeholder"><span>Lösenord</span></label>
            </div>
            <div class="form__error">
                @*@Html.ValidationMessageFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Password)*@
            </div>
            <button type="submit" class="form__submit form__submit--wide button">Lets do this</button>
        </form>
    </div>
</div>